body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:383px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u742_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:893px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u742 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:373px;
  height:893px;
}
#u742_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u743_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:2px;
}
#u743 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:47px;
  width:373px;
  height:1px;
}
#u743_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u744_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u744 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:22px;
  width:25px;
  height:15px;
  font-size:12px;
}
#u744_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u745_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u745 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:107px;
  width:43px;
  height:17px;
}
#u745_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u746 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:100px;
  width:287px;
  height:32px;
}
#u746_input {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u747_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u747 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:153px;
  width:43px;
  height:17px;
}
#u747_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u748 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:146px;
  width:287px;
  height:32px;
}
#u748_input {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u749_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u749 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:63px;
  width:113px;
  height:17px;
}
#u749_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u750_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u750 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:197px;
  width:43px;
  height:17px;
}
#u750_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u751_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u751 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:239px;
  width:1px;
  height:17px;
}
#u751_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u752 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:197px;
  width:100px;
  height:17px;
  font-size:14px;
}
#u752_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u752_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u753 {
  border-width:0px;
  position:absolute;
  left:193px;
  top:197px;
  width:100px;
  height:17px;
  font-size:14px;
}
#u753_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u753_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u754_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u754 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:239px;
  width:43px;
  height:17px;
}
#u754_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u755 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:232px;
  width:287px;
  height:32px;
}
#u755_input {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u756_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u756 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:303px;
  width:119px;
  height:40px;
}
#u756_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:115px;
  word-wrap:break-word;
}
#u757_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u757 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:303px;
  width:119px;
  height:40px;
}
#u757_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:115px;
  word-wrap:break-word;
}
