body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:359px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1024_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:672px;
}
#u1024 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:13px;
  width:341px;
  height:672px;
}
#u1024_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
